#addPlaylistButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5em;
  aspect-ratio: 1 / 1;
  background-color: hsl(315, 73%, 50%);
  border: none;
  border-radius: 2em;
  cursor: pointer;
  transition: padding, font-size 0.1s ease-in;
  box-shadow: 0 1px 10px rgb(56, 56, 56);
}
#addPlaylistButton:hover {
  padding: 1.15em 3em;
  font-size: 0.88rem;
  animation: glowpulse 4s infinite;
}

#addPlaylist:hover::after {
  content: "Add Playlist";
}

#addPlaylistButton:active {
  padding: 1.15em 3em;
  font-size: 0.7rem;
}
@keyframes glowpulse {
  0% {
    box-shadow: 0 0 4px hsl(315, 73%, 50%);
  }
  50% {
    box-shadow: 0 0 10px hsl(315, 73%, 50%);
  }
  100% {
    box-shadow: 0 0 4px hsl(315, 73%, 50%);
  }
}

#addPlaylistButton h3 {
  color: white;
  font-family: "Poppins", "Helvetica", sans-serif;
  font-weight: 400;
}
