#songListContainer {
  margin: 0 10%;
  flex-basis: 80vh;
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

#songList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25em;
  padding: 1.25em 0;
}

#messageContainer {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5em;
}

#messageTitle {
  font-family: "Jura";
  font-weight: 100;
  font-size: 1.5rem;
  color: hsl(0, 0%, 90%);
}

#loadingWheel {
  margin-top: 2em;
  width: 4em;
  aspect-ratio: 1 / 1;
  border: 4px solid hsla(0, 0%, 90%, 30%);
  border-top: 4px solid hsla(0, 0%, 20%, 30%) !important;
  border-radius: 50%;
  animation: spin infinite 0.7s linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 3px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 100%, 30%);
    border-radius: 15px;
  }

  #songList {
    width: 100%;
    padding: 1.5em 1em;
  }
}
