header {
  flex-basis: 10vh;
  flex-grow: 0;
  padding: 5% 7% 0 7%;
}
#logoContainer {
  display: flex;
  justify-content: end;
}
#logo {
  font-weight: 100;
}

#playlistTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

#playlistTitle {
  font-family: "Poppins", "Helvetica", sans-serif;
  font-size: 2.5rem;
  color: hsl(0, 0%, 95%);
  font-weight: 900;
}

.animate {
  animation: fadeInRight ease-out 0.5s;
}

.animate2 {
  animation: fadeInRight2 ease-out 0.5s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-1em);
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes fadeInRight2 {
  0% {
    opacity: 0;
    transform: translateX(-1em);
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}
hr#headerLineBreak {
  width: 100%;
  border: solid hsla(0, 0%, 100%, 30%) 1px;
}

@media only screen and (min-width: 640px) {
  header {
    padding: 0 8% 0 8%;
  }
}
