#songContainer {
  width: 100%;
  height: 4.5em;
  display: flex;
  justify-content: space-between;
  background-color: hsla(0, 0%, 50%, 10%);
  border: solid hsla(0, 0%, 50%, 15%) 1px;
  border-radius: 1em;
  padding: 0.9em 0.75em 0.75em 0.75em;
}
#leftSection {
  height: 100%;
  display: flex;
  gap: 0.5em;
  align-items: start;
}
#songThumbnail {
  height: 2.75em;
  aspect-ratio: 1 / 1;
  border-radius: 0.15em;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#songTitle {
  font-family: "Syne", "Helvetica", sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
}

#artistName {
  font-weight: 100;
  font-size: 0.95rem;
}
#rightSection {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.5em;
}
#songLength {
  font-weight: 100;
  font-size: 0.95;
}
#rightSection svg {
  font-size: 2.5rem;
  fill: hsl(315, 73%, 50%) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: font-size linear 0.1s;
  filter: drop-shadow(0 1px 10px rgb(0 0 0 / 0.4));
}
#rightSection svg:hover {
  font-size: 3rem;
}
