#songContainer {
  width: 100%;
  height: 4.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(0, 0%, 10%, 40%);
  border: solid hsla(0, 1%, 69%, 25%) 1px;
  border-radius: 1em;
  padding: 0.75em;
  padding-left: 0 !important;
  animation: fadeIn 1s ease-out forwards;
  opacity: 0%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-1em);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
#leftSection {
  display: flex;
  gap: 0.5em;
  align-items: start;
  flex-grow: 1;
  overflow-x: hidden;
  margin-right: 0.4em;
  padding: 0.5em;
  padding-left: 0.6em !important;
}
#songThumbnail {
  height: 4.5em;
  aspect-ratio: 1 / 1;
  border-radius: 1em 0 0 1em;
  border: solid hsla(0, 1%, 69%, 25%) 1px;
  border-right: none !important;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

#titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 2.9em;
  gap: 0.6em;
  text-wrap: nowrap;
}
#songTitle {
  font-family: "Poppins", "Helvetica", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 80%;
  color: hsl(0, 0%, 80%);
  text-transform: capitalize;
}

.artistName {
  display: flex;
  flex-direction: row;
  gap: 0.3em;
}

.artistLink p {
  font-weight: 200;
  font-size: 0.95rem;
  line-height: 100%;
  color: hsl(0, 0%, 70%);
}

.artistLink:not(:last-child) p::after {
  content: ", ";
}

#titles h3:hover::before,
p:hover::before {
  content: "";
  width: 100%;
  height: 0.07em;
  top: 110%;
  background-color: hsl(0, 0%, 80%);
  position: absolute;
  animation: grow ease-in 0.25s;
}

@keyframes grow {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

#rightSection {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.5em;
}
#songLength {
  font-weight: 200;
  font-size: 0.95;
  letter-spacing: 0.033rem;
  color: hsl(0, 0%, 70%);
}
#rightSection svg {
  width: 2.5em;
  height: 2.5em;
  fill: hsl(315, 73%, 50%) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: font-size linear 0.1s;
  filter: drop-shadow(0 1px 10px rgb(0 0 0 / 0.4));
}
#rightSection svg:hover {
  font-size: 1.2rem;
}
