#signInButton {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  padding: 0.5em 1.5em;
  gap: 0.75em;
  background-color: hsl(137, 40%, 45%);
  border: none;
  border-radius: 2em;
  cursor: pointer;
}

button svg {
  font-size: 2.5rem;
  fill: hsl(0, 0%, 12%) !important;
  height: 100%;
}

button h3 {
  color: hsl(0, 0%, 12%);
  font-family: "Syne", "Helvetica", sans-serif;
  font-weight: 600;
}
